
[Unit]
Description=Kubernetes kube-proxy
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service
 
[Service]
ExecStart=/usr/local/bin/kube-proxy \
--bind-address=0.0.0.0 \
--master=https://127.0.0.1:6443 \
--hostname-override=master \
--kubeconfig=/root/bdis/k8s/pki/files/kube-proxy.kubeconfig \
--masquerade-all \
--proxy-mode=ipvs \
--ipvs-min-sync-period=5s \
--ipvs-sync-period=5s \
--ipvs-scheduler=rr \
--v=2
 
[Install]
WantedBy=multi-user.target